
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutLoggedin.cshtml";
}


<div class="performance-options-container">
    <div class="performance-options">
        <a class="option-link" href ="Login">Reports</a> <br />
        <a  class="option-link" href ="Login">Sales Points</a> <br />
        <a  class="option-link" href ="Login">List of Rewards</a> <br />
    </div>
</div>




